<app-stat-field
*ngIf="gameNav.statField">
</app-stat-field>

<div 
      id="shopPlanet"

   class="planet" 
   *ngIf="gameNav.shopPlanet"
   (click)="resetNav() ; gameNav.insideShop = true">
</div>

<div  id="arenaPlanet" 

   class="planet" 
   *ngIf="gameNav.arenaPlanet"
   (click)="resetNav() ; gameNav.insideArena = true ; battleService.init()">
</div>


<div  id="shop"

   class="inside"
   *ngIf="gameNav.insideShop">

   <div>
      <p> SHOP </p>
      <p> Please imagine that you are in intergalactic shop </p>

      <button
      (click)="resetNav() ; gameNav.statField = true ; gameNav.shopPlanet = true ; gameNav.arenaPlanet = true"
      > 
         go back (imagine going out of the intergalactic shop)
      </button>
   </div>

</div>

<div  id="arena"

   class="inside"
   *ngIf="gameNav.insideArena">

   <div>
      <p> ARENA </p>
      <p> Please imagine that you are in intergalactic battle ship arena </p>

      <app-arena-in> </app-arena-in>

      <button
         class="arenaButton"
         id="backBtn"
         (click)="resetNav() ; gameNav.statField = true ; gameNav.shopPlanet = true ; gameNav.arenaPlanet = true"> 
         go back
      </button>

      <button
         class="arenaButton"
         id="submitBtn"
         (click)="resetNav() ; gameNav.battle = true"> 
         Challenge!
      </button>
   </div>

</div>

<div *ngIf="gameNav.battle">
   <app-battle (EndBattle)="resetNav() ; gameNav.statField = true ; gameNav.shopPlanet = true ; gameNav.arenaPlanet = true ; battleService.init()"></app-battle>
</div>
