<div id="playerField">
  
   <div class="statField">

      <p class="title"> {{ playerShip.name }} (you) </p>
      <table>
         <tbody>
            <tr>
               <td> Damage:  </td>
               <td> {{ playerShip.damage }} </td>
            </tr>
            <tr>
               <td> Health: </td>
               <td> {{ playerShip.health }} </td>
            </tr>
            <tr>
               <td> Speed: </td>
               <td> {{ playerShip.speed }} </td>
            </tr>
            <tr>
               <td> Tech: </td>
               <td> {{ playerShip.tech }} </td>
            </tr>
            <tr>
               <td> Accuracy: </td>
               <td> {{ playerShip.accuracy }} </td>
            </tr>
         </tbody>
      </table>

      <div id="playerImg"></div>

   </div>

</div>

<div id="enemyField">
  
   <div class="statField">

      <p class="title"> {{ enemyShip.name }} </p>
      <table>
         <tbody>
            <tr>
               <td> Damage:  </td>
               <td> {{ enemyShip.damage }} </td>
            </tr>
            <tr>
               <td> Health: </td>
               <td> {{ enemyShip.health }} </td>
            </tr>
            <tr>
               <td> Speed: </td>
               <td> {{ enemyShip.speed }} </td>
            </tr>
            <tr>
               <td> Tech: </td>
               <td> {{ enemyShip.tech }} </td>
            </tr>
            <tr>
               <td> Accuracy: </td>
               <td> {{ enemyShip.accuracy }} </td>
            </tr>
         </tbody>
      </table>

      <div id="enemyImg"></div>

   </div>

</div>
