<div id="Background"></div>

<div id="BattleView">

   <div id="PlayerGif"></div>
   <div class="infoBox" id="PlayerInfo">
      <div class="name"> name </div>
      <div class="currentHealth"> currentHealth </div>
      <div class="damageTaken"> damageTaken </div>
   </div>

   <div id="EnemyGif"></div>
   <div class="infoBox" id="EnemyInfo">
      <div class="name"> name </div>
      <div class="currentHealth"> currentHealth </div>
      <div class="damageTaken"> damageTaken </div>
   </div>

</div>

<div id="Logger">
   <div id="Content"> 
      c o n t e n t c o n t e n t c o n t e n t c o n t e n t c o n t e n t c o n t e n t c o n t e n t c o n t e n t 
      c o n t e n t c o n t e n t c o n t e n t c o n t e n t c o n t e n t c o n t e n t c o n t e n t c o n t e n t 
      c o n t e n t c o n t e n t c o n t e n t c o n t e n t c o n t e n t c o n t e n t c o n t e n t c o n t e n t 
      c o n t e n t c o n t e n t c o n t e n t c o n t e n t c o n t e n t c o n t e n t c o n t e n t c o n t e n t 
      c o n t e n t c o n t e n t c o n t e n t c o n t e n t c o n t e n t c o n t e n t c o n t e n t c o n t e n t 
      c o n t e n t c o n t e n t c o n t e n t c o n t e n t c o n t e n t c o n t e n t c o n t e n t c o n t e n t 
      c o n t e n t c o n t e n t c o n t e n t c o n t e n t c o n t e n t c o n t e n t c o n t e n t c o n t e n t 
      c o n t e n t c o n t e n t c o n t e n t c o n t e n t c o n t e n t c o n t e n t c o n t e n t c o n t e n t 
      c o n t e n t c o n t e n t c o n t e n t c o n t e n t c o n t e n t c o n t e n t c o n t e n t c o n t e n t 
      c o n t e n t c o n t e n t c o n t e n t c o n t e n t c o n t e n t c o n t e n t c o n t e n t c o n t e n t 
      c o n t e n t c o n t e n t c o n t e n t c o n t e n t c o n t e n t c o n t e n t c o n t e n t c o n t e n t 
      c o n t e n t c o n t e n t c o n t e n t c o n t e n t c o n t e n t c o n t e n t c o n t e n t c o n t e n t 
      c o n t e n t c o n t e n t c o n t e n t c o n t e n t c o n t e n t c o n t e n t c o n t e n t c o n t e n t 
      c o n t e n t c o n t e n t c o n t e n t c o n t e n t c o n t e n t c o n t e n t c o n t e n t c o n t e n t 
      c o n t e n t c o n t e n t c o n t e n t c o n t e n t c o n t e n t c o n t e n t c o n t e n t c o n t e n t 
      c o n t e n t c o n t e n t c o n t e n t c o n t e n t c o n t e n t c o n t e n t c o n t e n t c o n t e n t 
      c o n t e n t c o n t e n t c o n t e n t c o n t e n t c o n t e n t c o n t e n t c o n t e n t c o n t e n t 
   </div>
</div>

<div id="controlPanel">

   <button 
      class="arenaButton"
      id="QuickAttackBtn"> 
      Quick Attack 
   </button>

   <button 
      class="arenaButton"
      id="ModerateAttackBtn"> 
      Moderate Attack 
   </button>

   <button 
      class="arenaButton"
      id="PreciseAttackBtn"> 
      Precise Attack 
   </button>

</div>

