
<div id="BattleView">

   <div id="PlayerGif"></div>
   <div class="infoBox" id="PlayerInfo">
      <div class="name"> {{ PlayerShip.name }} </div>
      <div class="currentHealth"> {{ PlayerShip.cHealth }} / {{ PlayerShip.maxHealth }} HP </div>
      <div 
         class="damageTaken" 
         [ngClass]="PdmgVisible ? 'visible' : 'invisible'"> 
         {{ PlayerDmgInfo }}
         <div 
            class="boom"
            *ngIf="PlayerDmgInfo != 'Dodged!'"
            style="left: -80px">
         </div>
      </div>
   </div>

   <div id="EnemyGif"></div>
   <div class="infoBox" id="EnemyInfo">
      <div class="name"> {{ EnemyShip.name }} </div>
      <div class="currentHealth"> {{ EnemyShip.cHealth }} / {{ EnemyShip.maxHealth }} HP </div>
      <div 
         class="damageTaken" 
         [ngClass]="EdmgVisible ? 'visible' : 'invisible'"> 
         {{ EnemyDmgInfo }}
         <div 
            class="boom"
            *ngIf="EnemyDmgInfo != 'Dodged!'"
            style="left: 100px">
         </div>
      </div>
      
   </div>

</div>

<div id="Logger">
   <p 
   id="Content"
   [innerText]="LoggerContent"> 
   </p>
</div>

<div id="controlPanel">

   <button
      class="arenaButton"
      id="RunBtn"
      [disabled]="ButtonsDisabled"
      (click)="Move(0, getRandom(1,3), PlayerShip, EnemyShip)">
      Try to run
   </button>

   <button 
      class="arenaButton"
      id="QuickAttackBtn"
      [disabled]="ButtonsDisabled"
      (click)="Move(1, getRandom(1,3), PlayerShip, EnemyShip)">
      Quick Attack 
   </button>

   <button 
      class="arenaButton"
      id="ModerateAttackBtn"
      [disabled]="ButtonsDisabled"
      (click)="Move(2, getRandom(1,3), PlayerShip, EnemyShip)">
      Moderate Attack 
   </button>

   <button 
      class="arenaButton"
      id="PreciseAttackBtn"
      [disabled]="ButtonsDisabled"
      (click)="Move(3, getRandom(1,3), PlayerShip, EnemyShip)">
      Risky Attack
   </button>

   <button
      class="arenaButton"
      id="RepairBtn"
      [disabled]="ButtonsDisabled"
      (click)="Move(4, getRandom(1,3), PlayerShip, EnemyShip)">
      Repair self
   </button>


</div>

<div 
   class="announcement win"
   [ngClass]="BattleService.destroyedShip === BattleService.EnemyBShip && announcement ? 'Op1' : 'Op0'"> 

   <p class="bigText"> You Win! </p>
   <p class="smallText"> 
      Exp gained: {{ expGained }} xp
      <br>
      Gold gained: {{ goldGained }}
   </p>
</div>

<div 
class="announcement lose"
[ngClass]="BattleService.destroyedShip === BattleService.PlayerBShip && announcement ? 'Op1' : 'Op0'"> 
   <p class="bigText"> You Lose! </p>
   <p class="smallText"> You gained no exp. </p>
</div>


