<div id="statList">

   <div id="clickField1" (click)="statField.clicked = !statField.clicked" [style.visibility]="statField.clicked ? 'hidden': 'visible'"> </div>

   <div id="statField" [style.top]="statField.clicked ? '0px': '-400px'">

      <div class="content" [(ngModel)]="statField"> 

            <p class="title"> {{ statField.ShipName }} </p>
         <table>
            <tbody>
               <tr>
                  <td> Level:  </td>
                  <td> {{ statField.Level }} </td>
               </tr>

               <tr>
                  <td> Exp:  </td>
                  <td> {{ statField.Experience }} xp </td>
               </tr>

               <tr>
                  <td> Gold:  </td>
                  <td> {{ statField.Gold }} </td>
               </tr>

               <tr>
                  <td></td>
                  <td></td>
               </tr>

               <tr>
                  <td> Damage:  </td>
                  <td> {{ statField.ShipDamage }} </td>
               </tr>

               <tr>
                  <td> Health: </td>
                  <td> {{ statField.ShipHealth }} </td>
               </tr>

               <tr>
                  <td> Speed: </td>
                  <td> {{ statField.ShipSpeed }} </td>
               </tr>

               <tr>
                  <td> Tech: </td>
                  <td> {{ statField.ShipTech }} </td>
               </tr>

               <tr>
                  <td> Accuracy: </td>
                  <td> {{ statField.ShipAccuracy }} </td>
               </tr>

               <tr>
                  <td></td>
                  <td></td>
               </tr>

               <tr>
                  <td> Wins: </td>
                  <td> {{ statField.ShipWins }} </td>
               </tr>

               <tr>
                  <td> Losses: </td>
                  <td> {{ statField.ShipLoses }} </td>
               </tr>

            </tbody>
         </table>

         <div id="ShipImg"></div>



      </div>
      <button id="clickField2" (click)="statField.clicked = !statField.clicked"> </button>
   </div>
</div>
