body {
   overflow: disabled;
   background-image: url('./assets/img/bckg.png');
   background-size: stretch;

}
::-webkit-scrollbar {
   border: solid #2e2e555e 2px;
   border-radius: 4px;

}
::-webkit-scrollbar-thumb {
   border: solid #2e2e55 2px;
   border-radius: 5px;
   height: 45px;
   background-color: #37946d63;
}
::-webkit-scrollbar-thumb:hover {
   background: #37946d7c;
}

.basicBorder {
   border: 20px solid ;
   border-image: url('./assets/img/border.png') stretch 30%;
}
.basicBorder20 {
   border: 20px solid ;
   border-image: url('./assets/img/border.png') stretch 20%;
}

#shipFormDiv {
   position: absolute;
   background-image: url('./assets/img/ShipCreator.png');
}